*{
    margin:0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    border: border-box;
    color: white;

}
.body
{
    background-color: #141010;
}

.hero_section
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(backgroun.jpg);
    /* height:672px; */
    height: 95vh;
    border-style: solid;
    border-image: linear-gradient(to right, #141010, #C11119, #141010) 1;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-bottom-width: 5px;
}

 /* Header: */
.header
{   
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width:83vw;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    margin-top: 8px;
}
#logo{
    height: 85px;
    width:148px;
    /* margin-left: 35px; */
}
.top_right
{
    background: none;
    display: flex;
    /* margin-right: 2px; */
}
.language
{
    height:32px;
    width:fit-content;
    background-color: #141010;
    color: white;
    border:1px solid #5F5F5F;
    border-radius: calc(0.25rem - 0.0625rem);
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left:8px;
    padding-right:6px ;
}
.select_lang
{
    background: none;
    border:none;
    font-size: 1rem;
    outline: none;
}
.select_lang option {
    color: black; /* Change font color to black */
    border: none;
}
#lang_icon
{
    font-size: 1rem;
    margin-right: 2px;
    margin-left: 2px;
}
.sign_in
{
    border-radius: calc(0.25rem - 0.0625rem);
    margin-left: 12px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 75px;
    height: 33px;
    background-color:#E50914;
    font-weight: 700;
}
#signin{
    text-decoration:none;
}
.red_hover:hover
{
    background-color:#C11119;

}

 /* Text In Middle */
 .info
 {
    height:fit-content;
    width:50vw;
    margin-top:18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 .info h1
 {
    /* font-size: 50px; */
    font-size: 3.2rem;
    font-weight: 1000;
 }
 .info p
 {
    margin-top:3%;
    font-size:1.27rem;
    font-weight: 650;
 }
 .info h3
 {
    margin-top: 4.3%;
    font-size: 0.99rem;
    font-weight: 500;
 }

  /* email address input */
  .email
  {
    margin-top: 20px;
    display: flex;
    width:40vw;
    height: 56px;
  }
  .email input
  {
    width:100%;
    font-size: 1rem;
    border: 1px solid grey ;
    border-radius: calc(0.25rem - 0.0625rem);
    color:rgb(255,255,255,1);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 1.5rem;
  }
  .button
  {
    display: flex;
    font-size: 1.5rem;
    margin-left: 10px;
    width: 400px;
    background-color: #E50914;
    border-radius: calc(0.25rem - 0.0625rem);
    justify-content: center;
    align-items: center;
  }
  .button a
  {
    text-decoration: none;
    padding-right: 10px;
    font-weight: 600;
  }
  .button i
  {
    font-size:1rem ;
  }
  .ruler
  {
    border: none; /* Remove the default border */
    height: 5px; /* Set the height of the hr */
    background: linear-gradient(to right,#141010, #C11119, #141010); 
    margin-bottom: 0;
    /* border-radius: 50px; */
  }

    main
    {
        background-color: black;
        display: flex;
        justify-content: center;
    } 
   /* Main Content: */
   .main-content
   {
    margin-top: 0;
    height:fit-content;
    width:83vw;
    background-color: black;
    display: flex;
    flex-direction: column;
   }
   
   .main-content h2{
        margin-top: 35px;
   }

   .trending
   {
    height: fit-content;
    margin-top: 20px;
    margin-left:30px;
    margin-right:44.9px;
    display:flex;
    flex-wrap: wrap;
    column-gap:48px;
    row-gap: -10px;
}

   .content
   {
    height:30vh;
    width:15%;
    background-color:black;
    margin-bottom:30px;
    flex-shrink: 0;
    position: relative;
    border-radius: 5%;
    /* transition: all 0.3s ease-in; */
   }
   .content img
   {
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);    
        border-radius: 5%;
   }
   .content a :hover
   {
    transform: scale(1.1);
    transition-duration: 0.2s;
   }
   .number 
   {
    position: absolute;
    bottom: -20px; /* Position above the div */
    left: -30px; /* Align it horizontally */
    font-size: 80px; /* Large font size for the number */
    font-weight: bold; /* Bold font */
    color: black;
    -webkit-text-stroke: 1px white; /* White border around the number */
    /* stroke: 1px white; */
   }

    /* More reasons to join */
    .reasons
    {
     margin-top: 20px;
     display:flex;
     flex-direction: row;
     gap: 15px;
     height: fit-content;
    }
    .reason
    {   
    background: linear-gradient(to bottom right,#192145,  #210E17); 
        display: flex;
        flex-direction: column;
        width:16.5vw;
        height:16.5vw;
        margin-bottom: 35px;
        border-radius: 5%;
        padding:15px;
        position: relative;
    }
    .reason h3
    {
        font-size: 1.5rem;
        margin-bottom: 10px;
        position:static;
    }
    .reason p
    {
        font-size:0.97rem;
        margin:10px;
        margin-left: 0;
        font-weight:550;
        color: #BBBBC3;
        position: static;
    }
    .reason img
    {
        position: absolute;
        bottom:3%;
        right:2%;
    }

     /* Footer */
     footer
     {
        background-color: black;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
     }
     .call
     {
        margin-left: 8vw;
        color:white;
        font-size: 0.98rem;
     }
     .footer
     {
        margin-top: 50px;
        width:100vw;
        display: flex;
        margin-bottom:30px;
        justify-content: center;
        /* margin-left: 0; */
     }
     .lists
     {
        display: flex;
        width: 89vw;
     }
     ul
     {
        display: flex;
        flex-direction: column;
        margin-right: 9rem;
     }
     ul a
     {
        color: #BBBBC3;
        font-size: 0.95rem;
        font-weight: 540;
        margin-bottom:12px;
     }
     .bottom-button
     {
        margin-left:8vw;
        margin-bottom: 30px;
     }
     .click-effect:focus-within
     {
        outline: 2px solid white;
        outline-offset: 3px;
     }
     .netflix
     {
        color: #BBBBC3;
        font-size: 0.9rem;
        font-weight: 520;
        margin-bottom:12px;
        margin-left:8vw;
        margin-bottom: 50px;
     }